dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-admin-bootstrapped==2.5.0
django-cors-headers==1.1.0
django-cors-headers==1.1.0
django-respite==1.4.0
django-toolbelt==0.0.1
gunicorn==19.3.0
Pillow==2.8.1
psycopg2==2.6
python-slugify==1.1.4
respite==1.0.0
static3==0.5.1
Unidecode==0.4.18
wheel==0.24.0
