{% load static %}
<html>
	<head>
   		<meta charset="utf-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/mdmain.css" %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script type="text/javascript">
			function startTimer(duration, display) {
		    var timer = duration, minutes, seconds;
		    setInterval(function () {
		    	hours = parseInt(timer / 3600, 10)
		    	t2 = timer - (hours * 3600)
		        minutes = parseInt(t2 / 60, 10)
		        seconds = parseInt(timer % 60, 10);

		        hours = hours < 10 ? "0" + hours : hours;
		        hours = hours == 0 ? "" : hours + ":";
		        minutes = minutes < 10 ? "0" + minutes : minutes;
		        seconds = seconds < 10 ? "0" + seconds : seconds;

		        display.text(hours + minutes + ":" + seconds);

		        if (--timer < 0) {
		            timer = duration;
		        }
		    }, 1000);
		}
		</script>

	</head>
	<body>

	<br>
	<h1 style="text-align:center;">{{ start_node.name }}</h1>
	<hr>
	<div class="row">
		{% for r in routes %}
		<div class="col-lg-4" >
		{% if r.next.ring %}
			<!-- <span id="clock{{r.id}}"><i class="fa fa-circle-o-notch fa-spin"></i>RING</span> -->
  <span id="clock{{r.id}}">
    <i class="fa fa-circle-o-notch fa-spin fa-stack-2x"></i>
    <strong>RING</strong>
  </span>
		{% else %}
			<span id="clock{{r.id}}">--:--</span>
			<script type="text/javascript">
				jQuery(function ($) {
				    var fiveMinutes = {{ r.next.in_secs }},
				        display = $('#clock{{r.id}}');
				    startTimer(fiveMinutes, display);
				});
			</script>
		{% endif %}
            <h4>{{ r.destination }}</h4>
            <p>{{ r.raw_data }}</p>
            <p>Next: {{ r.next.next_next_one }}</p>

        </div>
            {% endfor %}

    </div>
	</body>
</html>
