span {
  text-align: center;
  font-size: 50px;
  margin:auto; 
  display:table;
  font-family: 'Squada One', cursive, bold;
}

p {
  text-align: center;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 
